@import '../../variables';

.root {
  justify-self: center;
  width: 351px;
  height: 136px;
  box-shadow: 4px 4px 4px rgba(33, 33, 33, 0.1);
  background: #f6f7f9;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
  transition: all ease-in-out 0.3s;

  &:hover {
    transform: scale(1.03);
  }
}

.infoWrap {
  position: absolute;
  z-index: 1;
  width: 150px;
  top: 6px;
  left: 25px;
}

.titleName {
  margin: 0 0 12px;
  text-shadow: 4px 4px 4px rgba(33, 33, 33, 0.1);
}

.statWrap {
  display: flex;
  margin-bottom: 12px;
}

.statItem {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #4b4b4b;
  margin-right: 12px;

  &:last-child {
    margin-right: 0;
  }
}

.statValue {
  width: 36px;
  height: 36px;
  border: 3px solid $dark;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: $dark;
  margin: 0 auto 8px;
}

.pictureWrap {
  width: 232px;
  height: 100%;
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &.grayGradient {
    background: linear-gradient(180deg, #ffffff 30.32%, #f5f5f5 100%);
  }

  &.blueGradient {
    background: linear-gradient(270deg, #5bc7fa 0.15%, #35baff 100%);
  }

  &.colorGradient {
    background: linear-gradient(270deg, #b33327 0.15%, #d93e30 100%);
  }

  &.pinkGRadient {
    background: linear-gradient(270deg, #f89eae 0.15%, #f4b5c1 100%);
  }

  &.greenGradient {
    background: linear-gradient(270deg, #64d368 0.15%, #64d368 70.88%);
  }

  &.goldGradient {
    background: linear-gradient(
      269.46deg,
      #b57e10 -7.62%,
      #b57e10 13.9%,
      #f9df7b 28.5%,
      #fff3a6 45.42%,
      #f9df7b 62.17%,
      #b57e10 81.71%
    );
  }

  &.yellowGradient {
    background: linear-gradient(180deg, #f5db13 0%, #f2b807 100%);
  }

  &.redGradientCard {
    background: linear-gradient(180deg, #732119 42.19%, #d93e30 100%);
  }

  img {
    width: 80%;
  }
}

.label {
  background: $second;
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.18);
  border-radius: 11px;
  height: 15px;
  min-width: 60px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: $dark;
  padding: 0 12px 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;

  &.stile,
  &.dark,
  &.rock {
    background-color: #a1a1a1;
  }

  &.bug,
  &.grass {
    background-color: #70a83b;
  }

  &.ice,
  &.water {
    background-color: #a2cff0;
  }

  &.fire,
  &.fighting,
  &.dragon {
    background-color: #f76545;
  }

  &.normal,
  &.gosth {
    background-color: #76aadb;
  }

  &.poison,
  &.psychic,
  &.fairy,
  &.ghost {
    background-color: #a974bc;
  }

  &.ground {
    background-color: #9b897b;
  }

  &.flying,
  &.electric {
    background-color: #f7c545;
  }

  &:last-child {
    margin-right: 0;
  }
}

.labelWrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
