.root {
  display: block;
  margin: 0 auto 5px;
  width: 100%;
  max-width: 1088px;
  height: 53px;
  background: #f2f2f2;
  border: none;
  outline: none;
  box-shadow: 4px 4px 16px rgba(1, 28, 64, 0.2);
  border-radius: 40px;
  padding: 16px 31px;
}
