@import '../../variables';

.root {
  padding: 0 20px 9px;
  box-shadow: inset 0px -9px 0px rgba(0, 0, 0, 0.18);
  border-radius: 11px;
  border: none;
  outline: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 27px;
  color: $dark;
  cursor: pointer;
  position: relative;

  &.small {
    height: 55px;
  }

  &.big {
    height: 66px;
  }

  &.green {
    background: #73d677;
  }

  &.yellow {
    background: #f2cb07;
  }

  &.wide {
    width: 100%;
  }

  &:active {
    top: 1px;
  }
}
