.menuContainer {
  position: relative;
  display: inline-block;
}

.menuTrigger {
  width: 135px;
  height: 21px;
  background: #f2f2f2;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 21px;
  font-size: 16px;
  box-shadow: 2px 2px 2px rgba(33, 33, 33, 0.1);
  border: none;
  vertical-align: middle;
  transition: box-shadow 0.4s ease;
  outline: transparent;
  padding-left: 52px;
  margin: 20px 0 40px;
}

.menuTrigger:hover {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
}

.menuTrigger span {
  font-weight: 700;
  vertical-align: middle;
  font-size: 14px;
  margin: 0 10px;
}

.menuTrigger img {
  border-radius: 90px;
}

.menu {
  position: absolute;
  top: 50px;
  left: 0;
  width: 135px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
  z-index: 2;
  background: #f2f2f2;
  box-shadow: 4px 4px 8px rgba(1, 28, 64, 0.2);
  border-radius: 8px;
}

.menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.menu ul {
  list-style: none;
  padding: 10px 0;
  margin: 0;
}

.menu .item {
  color: #333333;
  padding: 4px 52px;
  display: block;
  cursor: pointer;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 7px;
    left: 25px;
    width: 12px;
    height: 12px;
    border: 1px solid #212121;
  }

  &.itemActive {
    &:after {
      content: '';
      position: absolute;
      top: 2px;
      left: 25px;
      width: 15px;
      height: 9px;
      border-left: 3px solid green;
      border-bottom: 3px solid green;
      transform: rotate(-45deg);
    }
  }
}
