@import '../../variables';
@import '../../breakpoints';

.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 93px);
  background-color: $danger;

  button {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    width: 231px;
    margin: 64px auto;
  }
}

.titleblock {
  position: relative;
}

.title {
  width: 100%;
}

.trio {
  position: absolute;
  top: 0;
  right: 25%;
  left: 25%;
}

.wrapper {
  position: fixed;
  bottom: 130px;
  display: flex;
  align-self: center;
  font-weight: bold;
  font-size: 3.5vw;
  line-height: 56px;
  white-space: nowrap;
}

.left {
  color: $white;
  text-shadow: 1px 1px #000;
}

.right {
  color: #000;
  text-shadow: 1px 1px $danger;
}
