.title {
    display: inline-block;
    font-family: 'Syncopate', sans-serif;
    text-transform: uppercase;
    background: radial-gradient(
            circle farthest-corner at center center,
            #ccc,
            #333
    ) no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 90px;
}

.img {
    width: 200px;
    margin: 0 auto;
    opacity: 0.3;
    filter: blur(1px);
    transition: opacity ease-in-out 1s, filter ease-in-out 1s;

    &:hover {
        opacity: 0.7;
        filter: blur(0);
    }
}