@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Karla', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Karla', sans-serif;
}

#root {
  min-height: 100vh;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 12px;
}

p {
  font-size: 16px;
}

img {
  width: 100%;
}
